*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue" Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.drag-area {
    border: 5px dashed #3d3c3c;
    height: 500px;
    width: 700px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drag-area.activate{
    background-color: rgb(164, 189, 189) ;
    color: black;
    border: 2px dashed rgb(164, 189, 189);
}

.drag-area h2 {
    font-size: 30px;
    font-weight: 500;
    color: #000;
}

.drag-area span {
    font-size: 25px;
    color: #000;
}

.drag-area button{
    padding: 10px 20px;
    font-size:  20px;
    border:  0;
    outline: none;
    background-color: #5256ad;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}

.file-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: solid 1px #ddd;
}

#preview{
    margin-top: 10px;
}


.status-text {
    padding: 0 10px; 
}

.success{
    color: #52ad5a;
}

.failture{
    color: #ff0000;
}

.file-input {
    display: none;
}

.custom-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color:  #24242c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}

.custom-button:hover {
    background-color: #494747;
}
.button-container {
    display: flex;
    flex-direction: column;
}
.upload-text {
    text-align: center;
    background-color: #24242c;
    padding: 20px;
    color: white;
    
}

.custom-container {
    border: 1px solid  #24242c ;
    padding: 0px;  
  
}
