{% extends './base.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

{% block title %} Home {% endblock %}


{% block body %}
<div class = "custom-container">
    <div class="upload-text">
        <h1>Welcome</h1>
        <h1>Upload your CSV file</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">

    </div>
    <div>
        <p>
            <input type="file" name="csvfile" id="file" class="file-input" accept="">
                <label for="file" class="custom-button" id="file-label">Choose File</label>
        </p>

        <p><input type="submit" value="Submit" class="custom-button"></p>
    </form>
    <form method="POST" action="/insertar_datos" enctype="multipart/form-data">

   
        <p><input type="submit" value="Show Tables"class="custom-button"></p>
    </form>
    </div>
</div>

<script>
    const fileInput = document.getElementById("file");
    const fileLabel = document.getElementById("file-label");

    fileInput.addEventListener("change", function() {
        if (fileInput.files.length > 0) {
            fileLabel.textContent = fileInput.files[0].name;
        } else {
            fileLabel.textContent = "Choose File";
        }
    });
</script>
{% endblock %}

