{% extends './base.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% block title %} Home {% endblock %}


{% block body %}

<div class="text-center container">
    <div class="col-md-6 offset-md-3">
        <h1>Bienvenido</h1> 
    </div>
</div> 

    <div>               
        <h1>Upload your CSV file</h1>
        <form method="POST" action="/upload" enctype="multipart/form-data">
        <p><input type="file" name="csvfile"></p>
        <p><input type="submit" value="Submit"></p>
        </form>
    </div>    
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for leng in informacion %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{leng}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div> 
{% endblock %}
